.wrapper {
    z-index: 0;
    display: flex;
    justify-content: center;
}

.title {
    background-color: var(--background-color-primary);
    position: relative;
    padding: 0 1rem;
}

.title::before {
    content: "";
    width: 90vw;
    max-width: var(--max-width);
    height: .2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    background-color: #000;
    z-index: -1;
}