:root {
  --max-width: 1220px;
  --background-color-primary: #F2E5E2;
  --background-color-secondary: #F8F2F0;
  --background-color-pink: #E57EFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}